body {
    background-image: url(https://i.pinimg.com/736x/03/ca/2a/03ca2a1090de0195348742d28d910389.jpg);
}

.icons {
    color: #fff;
    height: 2.5em;
    width: 2.5em;
}

p {
    color: #fff;
}

h2,
h3 {
    color: #000;
}

.styles_movies_card {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    border-style: double;
    border-radius: 20%;
}

img {
    border-style: dashed;
    border-color: rgb(247, 247, 247);
}

.img_hover:hover {
    transform: scale(150%);
}

.query_span,
.page_span {
    border-bottom-style: solid;
    border-color: #dc3545;
    color: #495057; 
}

.query_span {
    text-transform: capitalize;
}

.details_list {
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
}

hr {
    color: #000
}

summary {
    font-size: 1.3em;
}

summary:hover {
    color: #dc3545;
    transition: 0.3s;
}